img#logoAvion{
    @include imagenes(40rem, 20rem);
    @include margin (0rem, 0rem, 1rem, 32rem);
}


h1#titular{
    color: #151313;
    border-top: 1px solid #151313;
    background-color: #ffffff;
    text-align: center;
    @include padding (1.5rem, 1.5rem, 1.5rem, 1.5rem);
    @include margin (2rem, 0rem, 5rem, 0rem);
    @include imagenes(100%, 2rem);
    transition: 0.5s;
}

h1#titular:hover{
    color: #ffffff;
    background-color: #151313;
}

div.itemListContainer{
    display: flex;
    @include margin (5rem, 0rem, 0rem, 3rem);
    ul {
        list-style: none;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 3rem;
        letter-spacing: 12px;
        line-height: 4rem;
        font-weight: bold;
    }
}

div#itemListContainerContenedor{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

// item


div.item{
    @include margin (0rem, 1rem, 3rem, 0rem);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    div.items:hover{
        background-color: #5ca0f2;
        color: white;
        border: none;
        button{
            background-color: #ffffff;
            color: #1C6E8C;
        }
        img{
            @include imagenes(19.5rem, 16rem);
            @include margin (-40px, 0px, 0px, -7px);
        }
    }
    div.items {
        border-radius: 10px;
        color: #000000;
        font-weight: bold;
        border: 1px solid #274156;
        background-color: #ffffff;
        @include imagenes(18.5rem, 28rem);
        @include padding (0rem, 0rem, 0rem, 0rem);
        @include margin (0rem, 0rem, 2.5rem, 1.8rem);
        transition: 0.5s;
        img{
            border-radius: 10px;
            @include imagenes(18.6rem, 15rem);
            @include margin (-20px, 0px, 0px, -1px);
            transition: 0.7s;
        }
        h3, h4, p {
            text-align: center;
            @include margin (1rem, 1rem, 1rem, 1rem);
            font-weight: bold;
        }
        p{
            font-size: 0.8rem;
        }
        p.itemDescription{
            @include margin (0rem, 1.5rem, 1rem, 2rem);
            text-align: left;
            font-size: 0.65rem;
        }
        button{
            background-color: #1C6E8C;
            border-radius: 6px;
            border: none;
            color: #ffffff;
            transition: all 1s ease 0s;
        }
        button.detail{
            font-size: 1.1rem;
            @include imagenes(150px, 30px);
            @include margin (1px, 0px, 0px, 20px);
        }
    }
}



