div#titular{
    color: #151313;
    background-color: #ffffff;
    text-align: center;
    border-top: 1px solid #151313;
    border-bottom: 1px solid #151313;
}

// item

div.item{
    display: flex;
    flex-flow: row wrap;
    div.items {
        font-weight: bold;
        h3, h4, p {
            text-align: center;
            font-weight: bold;
        }
        p.itemDescription{
            text-align: left;
        }
        button{
            border: none;
            border-radius: 6px;
        }
    }
}

@media (min-width: 300px) and (max-width: 399px){
    img#logoAvion{
        @include imagenes(100%, 12rem);
        @include margin (0rem, 0rem, -2rem, 0rem);
    }

    div#titular{
        @include padding (0rem, 0rem, 0rem, 0rem);
        @include margin (2rem, 0rem, 2.5rem, 0rem);
        @include imagenes(100%, 2rem);
        font-size: 0.5rem;
    }

    div.item{
        justify-content: center;
        @include margin (0rem, 0rem, 0rem, 0rem);
        div.items{
            border-radius: 10px;
            border: none;
            background-color: #5ca0f2;
            color: white;
            @include imagenes(18rem, 28.3rem);
            @include padding (0rem, 0rem, 0rem, 0rem);
            @include margin (0rem, 0rem, 3rem, 0rem);
            img{
                border-radius: 1rem;
                @include imagenes(18.8rem, 15rem);
                @include margin (-1rem, 0px, 0px, -0.3rem);
            }
            h3, h4, p{
                @include margin (1rem, 1rem, 1rem, 1rem);
            }
            p{
                font-size: 0.8rem;
            }
            p.itemDescription{
                @include margin (0rem, 1.5rem, 1rem, 2rem);
                font-size: 0.65rem;
            }
            button{
                background-color: #ffffff;
                color: #1C6E8C;
            }
            button.detail{
                font-size: 1rem;
                @include imagenes(7.8rem, 1.7rem);
                @include margin (1px, 0px, 0px, 1rem);
            }
            div{
                @include imagenes(9rem, 2.6rem);
                @include margin (0rem, 0rem, 0.8rem, 4.3rem);
                border: 5px double rgb(255, 187, 187);
                background-color: rgb(238, 52, 52);
                p.prodAgotado{
                    text-align: center;
                    color: rgb(255, 221, 221);
                    font-size: 0.9rem;
                }
            }
        }
    }
}

@media (min-width: 400px) and (max-width: 760px){
    img#logoAvion{
        @include imagenes(100%, 15rem);
        @include margin (0rem, 0rem, -2rem, 0rem);
    }

    div#titular{
        @include padding (0rem, 0rem, 0rem, 0rem);
        @include margin (2rem, 0rem, 2.5rem, 0rem);
        @include imagenes(100%, 2.7rem);
        font-size: 0.6rem;
    }

    div.item{
        justify-content: center;
        @include margin (0rem, 0rem, 0rem, 0rem);
        div.items{
            border-radius: 10px;
            border: none;
            background-color: #5ca0f2;
            color: white;
            @include imagenes(18rem, 28rem);
            @include padding (0rem, 0rem, 0rem, 0rem);
            @include margin (0rem, 0rem, 3rem, 0rem);
            img{
                border-radius: 10px;
                @include imagenes(18.5rem, 15rem);
                @include margin (-1rem, 0px, 0px, -0.25rem);
            }
            h3, h4, p{
                @include margin (1rem, 1rem, 1rem, 1rem);
            }
            p{
                font-size: 0.8rem;
            }
            p.itemDescription{
                @include margin (0rem, 1.5rem, 1rem, 2rem);
                font-size: 0.65rem;
            }
            button{
                background-color: #ffffff;
                color: #1C6E8C;
            }
            button.detail{
                font-size: 1rem;
                @include imagenes(7.8rem, 1.7rem);
                @include margin (1px, 0px, 0px, 1rem);
            }
            div{
                @include imagenes(9rem, 2.6rem);
                @include margin (0rem, 0rem, 0.8rem, 4.3rem);
                border: 5px double rgb(255, 187, 187);
                background-color: rgb(238, 52, 52);
                p.prodAgotado{
                    text-align: center;
                    color: rgb(255, 221, 221);
                    font-size: 0.9rem;
                }
            }
        }
    }
}

@media (min-width: 767px) and (max-width: 959px){
    img#logoAvion{
        @include imagenes(100%, 23rem);
        @include margin (0rem, 0rem, -2rem, 0rem);
    }

    div#titular{
        @include padding (0rem, 0rem, 0rem, 0rem);
        @include margin (2rem, 0rem, 3rem, 0rem);
        @include imagenes(100%, 4.5rem);
        font-size: 1rem;
    }

    div.item{
        justify-content: space-around;
        @include margin (0rem, 0rem, 0rem, 0rem);
        div.items{
            border-radius: 10px;
            border: none;
            background-color: #5ca0f2;
            color: white;
            @include imagenes(19rem, 31rem);
            @include padding (0rem, 0rem, 0rem, 0rem);
            @include margin (0rem, 0rem, 2.5rem, 0rem);
            img{
                border-radius: 10px;
                @include imagenes(20rem, 16rem);
                @include margin (-1rem, 0px, 0px, -0.5rem);
            }
            h3, h4, p{
                @include margin (1rem, 1rem, 1rem, 1rem);
            }
            p{
                font-size: 1rem;
            }
            p.itemDescription{
                @include margin (0rem, 1.5rem, 0rem, 2rem);
                font-size: 0.8rem;
            }
            button{
                background-color: #ffffff;
                color: #1C6E8C;
            }
            button.detail{
                font-size: 1.2rem;
                @include imagenes(9rem, 2rem);
                @include margin (1px, 0px, 0px, 1rem);
            }
            div{
                @include imagenes(10rem, 2.8rem);
                @include margin (1rem, 0rem, 0.8rem, 4rem);
                border: 5px double rgb(255, 187, 187);
                background-color: rgb(238, 52, 52);
                p.prodAgotado{
                    text-align: center;
                    color: rgb(255, 236, 236);
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (min-width: 960px) and (max-width: 1399.98px){
    img#logoAvion{
        @include imagenes(50rem, 23rem);
        @include margin (0rem, 0rem, -1rem, 10rem);
    }

    div#titular{
        @include padding (0rem, 0rem, 0rem, 0rem);
        @include margin (1rem, 0rem, 4rem, 0rem);
        @include imagenes(100%, 4.7rem);
        transition: 0.5s;
    }

    div#titular:hover{
        color: #ffffff;
        background-color: #151313;
    }

    div.item{
        justify-content: space-around;
        @include margin (0rem, 0rem, 0rem, 0rem);
        div.items:hover{
            background-color: #5ca0f2;
            color: white;
            border: none;
            img{
                @include imagenes(19.2rem, 15rem);
                @include margin (-40px, 0px, 0px, -0.7rem);
            }
            button{
                background-color: #ffffff;
                color: #1C6E8C;
            }
        }
        div.items{
            border-radius: 10px;
            border: 1px solid #274156;
            background-color: #ffffff;
            color: #000000;
            @include imagenes(17.8rem, 27rem);
            @include padding (0rem, 0rem, 0rem, 0rem);
            @include margin (0rem, 0rem, 3rem, 0rem);
            transition: 0.5s;
            img{
                border-radius: 10px;
                @include imagenes(17.95rem, 14rem);
                @include margin (-20px, 0px, 0px, -0.1rem);
                transition: 0.7s;
            }
            h3, h4, p{
                @include margin (1rem, 1rem, 1rem, 1rem);
            }
            p{
                font-size: 0.8rem;
            }
            p.itemDescription{
                @include margin (0rem, 1.5rem, 1rem, 2rem);
                font-size: 0.65rem;
            }
            button{
                background-color: #1C6E8C;
                color: #ffffff;
                transition: all 1s ease 0s;
            }
            button.detail{
                font-size: 1.1rem;
                @include imagenes(150px, 30px);
                @include margin (1px, 0px, 0px, 20px);
            }

            div{
                @include imagenes(9rem, 2.6rem);
                @include margin (0rem, 0rem, 0.8rem, 4rem);
                border: 8px double rgb(255, 187, 187);
                background-color: rgb(238, 52, 52);
                p.prodAgotado{
                    text-align: center;
                    color: rgb(255, 236, 236);
                    font-size: 0.9rem;
                }
            }
        }
    }
}

