// itemDetail, itemCount

div.itemDetailContainer{
    @include margin (0.5rem, 0rem, 0rem, 2rem);
    display: flex;
    justify-content: center;
    div.itemDetailImg{
        img{
            @include imagenes(45rem, 37rem);
            @include margin (4rem, 5rem, 0rem, 2rem);
        }
    }
    div.itemDetail{
        border-radius: 0px 10px 10px 0px;
        color: black;
        @include imagenes(60rem, 45rem);
        background-color: #ffffff;
        @include padding (2rem, 0rem, 0rem, 2rem);
        @include margin (0rem, 3rem, 0rem, 0rem);
        h3{
            text-align: center;
            color: rgb(8, 8, 8);
            @include margin(-0.5rem, 3rem, 0rem, 0rem);
            font-size: 2rem;
        }
        p.descripcion{
            text-align: center;
            font-size: 0.8rem;
            @include padding (0.5rem, 3rem, 0.2rem, 1rem);
        }
        label{
            font-size: 25px;
        }
        button{
            background-color: hsl(0, 0%, 100%);
            border-radius: 6px;
            border: 1px solid #151313;
            color: #151313;
            transition: 0.4s;
        }
        button:hover{
            background-color: #151313;
            color: #ffffff;
        }
        button.sumar{
            font-size: 22px;
            @include imagenes(2rem, 2rem);
            @include margin (2rem, 2rem, 0rem, 19rem);
        }
        button.restar{
            font-size: 25px;
            @include imagenes(2rem, 2rem);
            @include margin (0rem, 0rem, 0rem, 2rem);
        }
        button.agregarAlCarrito{
            font-size: 16px;
            font-weight: bold;
            @include imagenes(12rem, 2.8rem);
            @include margin (2rem, 0rem, 0rem, 17.3rem);
            a{
                text-decoration: none;
                color: rgb(12, 156, 175);
            }
        }
    }
}