@import './mixins';
@import './navBar';
@import './sobre';
@import './itemListContainer';
@import './reviews';
@import './contacto';
@import './itemDetailContainer';
@import './cart';



// App.js

header{
    display: flex;
    flex-flow: row wrap;
}

img#imagenPrincipal{
    @include imagenes (100%, 0%);
}

// ImagenPrincial.jsx

div#provincias{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    p{
        font-weight: bold;
        text-align: center;
    }
}

div#logo{
    display: flex;
    justify-content: center;
}

@media (min-width: 300px) and (max-width: 399px){
    div#provincias{
        p{
            @include padding(0rem, 0.3rem, 0rem, 0.2rem);
            @include margin(-2rem, 0rem, 0rem, 0rem);
            font-size: 0.7rem;
        }
    }

    img#imagenPrincipal{
        @include padding(0rem, 0rem, 0rem, 0rem);
    }

    .logo{
        @include imagenes(3.5rem, 3.5rem);
        @include margin (-1rem, 0rem, 0rem, 0rem);
    }
}

@media (min-width: 400px) and (max-width: 760px){
    div#provincias{
        p{
            @include padding(0rem, 0.4rem, 0rem, 0.5rem);
            @include margin(-1.9rem, 0rem, 0rem, 0rem);
            font-size: 0.75rem;
        }
    }

    .logo{
        @include imagenes(3.5rem, 3.5rem);
    }
}

@media (min-width: 767px) and (max-width: 959px){
    div#provincias{
        p{
            @include padding(0rem, 1rem, 0rem, 1.5rem);
            @include margin(-3rem, 0rem, 0rem, 0rem);
            font-size: 1.2rem;
        }
    }

    .logo{
        @include imagenes(9rem, 9rem);
        @include margin (0rem, 0rem, 1rem, 0rem);
    }
}

@media (min-width: 960px) and (max-width: 1399.98px){
    div#provincias{
        p{
            @include margin(-4rem, 2.5rem, 2rem, 3.2rem);
            font-size: 1.5rem;
        }
        p:hover{
            color: #9197a7;
        }
    }

    .logo{
        @include imagenes(9rem, 9rem);
        @include margin (0.5rem, 0rem, 0.5rem, 0rem);
    }
}

// enlaces provincias

div#provincias{
    a{
        text-decoration: none;
        color: #151313;
    }
}


// index.js

body {
    margin: 0rem; 
    font-family: 'Comfortaa', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
  }
  

 