@import './mixins';
@import './navBar';
@import './itemListContainer';
@import './itemDetailContainer';
@import './cart';

// App.js

header{
    display: flex;
    flex-flow: row wrap;
}

img#imagenPrincipal{
    @include imagenes (100%, 0%);
}

// ImagenPrincial.jsx

div#provincias{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    p{
        @include margin(0rem, 3rem, 3rem, 3rem);
        font-size: 2.5rem;
        font-weight: bold;
    }
    p:hover{
        color: #9197a7;
    }
}


// index.js

body {
    margin: 0; 
    font-family: 'Comfortaa', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
  }
  
  .fondoPrincipal {
    width: 100%;
  }

 